.account__link33434{
    margin-top: 47px;
    margin-right: 40px;
}

.account__center--div1{
    display: flex;
    margin-top: 10px;
}

.account__center--homelink{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
    margin-top: 51px;
    margin-left: -818px;
}

.account__center--bobur{
    margin-left: -498px;
    margin-top: -463px;
}

.account__center--boburimg2link2{
    position: absolute;
    margin-left: -470px;
    margin-top: -70px;
}

.linya434sg{
    margin-top: -2379px;
}

.account3243{
    margin-left: 334px;
}

.account__center--boburbutton{
    max-width: 120px;
    width: 100%;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    background: none;
    margin-top: 20px;
    margin-left: 274px;
}

.account__center--boburbuttonlink{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    transition: 0.3s;
}

.account__center--boburbuttonlink:hover{
    color: #ff0000;
    transition: 0.3s;
}

.account__center--boburdivabouth1{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;    
    transition: 0.3s;
    margin-bottom: 0;
}

.account__center--boburdivabout{
    margin-top: 10px;
    margin-left: -470px;
}

.account__center--boburdivabouth1:hover{
    color: #ff0000;
    transition: 0.3s;
}

.account__center--boburdivaboutlinkgmail{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
    display: block;
    margin-bottom: 15px;
    transition: 0.3s;
}

.account__center--boburdivaboutlinkgmail:hover{
    color: #ff0000;
    transition: 0.3s;
}

.account__center--boburdivaboutlinkemail{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;   
    margin-bottom: 15px;
    transition: 0.3s;
}

.account__center--boburdivaboutlinkemail:hover{
    color: #ff0000;
    transition: 0.3s;
}

.account__center--divaboutlinkspanemail{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1DA1F2;
    transition: 0.3s;   
}

.account__center--divaboutlinkspanemail:hover{
    color: #ff0000;
    transition: 0.3s;
}

.account__center--boburdivitemlink{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
    margin-left: 9px;
    margin-top: -2px;
    transition: 0.3s;
}

.account__center--boburdivitemlink:hover{
    color: #ff0000;
    transition: 0.3s;
}

.account__center--boburdivitem{
    display: flex;
    margin: 10px;
}

.account__center--boburdivlist{
    display: flex;
    margin-left: -51px;
    margin-bottom: 15px;
}

.account__center--boburdivitemlink2322222{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1DA1F2;
}

.account__center--boburdivitemlinkspan{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000 60%;
    margin-right: 7px;
}

.list4534534{
    margin-bottom: 40px;
    margin-left: -57px;
}

.account__center--boburlist{
    display: flex;
}

.account__center--boburitemlink{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-right: 176px;
    transition: 0.3s;
}

.account__center--boburitemlink2{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    transition: 0.3s;
}

.account__center--boburitemlink2:hover{
    color: #ff0000;
    transition: 0.3s;
}

.account__center--boburitemlink:hover{
    color: #ff0000;
    transition: 0.3s;
}

.account__center--boburlist{
    margin-left: -11px;
}

.linyablue{
    max-width: 5px;
    height: 59px;
    background: #1DA1F2;
    border-radius: 4px;
    transform: rotate(-90deg);
    margin-left: 55px;
    margin-top: -20px;
}

.linya99{
    max-width: 1px;
    height: 909px;
    background: #D8D8D8;
    transform: rotate(-90deg);
    border: 0;
    margin-left: 427px;
    margin-top: -490px;
}

.account__center--vhat2{
    margin-left: -481px;
    margin-top: 15px;
}

.account__center--vhat2point{
    margin-left: 228px;
}

.account__center--imgpinlink{
    display: flex;
}

.account__center--imgpindiv{
    display: flex;
    margin-top: -448px;
    margin-left: -429px;
}

.account__center--imgpinlinklink{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #536471;
    margin-left: 13px;
}

.account__center--vhat2text1{
    margin-bottom: 20px;
}

.account__center--vhat3{
    margin-top: -442px;
}

.account__left--list{
    margin-left: -37px;
}

.leftkjdhfjkghdkjfghkdfjg{
    margin-left: -175px;
}